.swiper {
  width: 100%;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 400px !important;
  height: 400px !important;
}

.swiper-slide img {
  display: block;
  width: 100%;
}
